{% extends "base.html.twig" %}

{% block title %}Liste des produits de la catégorie {{ category.name }}{% endblock %}

{% block body %}

    <main class="container">
        <section class="row list-contenu">
            <div class="col-12 parent-categories-title list-product">
                <h1>Liste des produits de la catégorie {{ category.name }}</h1>
            </div>
            {% for product in products %}
                <div class="col-2 categories">
                    <div class="">
                        <a href="{{ path('products_details', {"slug": product.slug})}}">
                            <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ product.images[0].name )}}" class="card-img-top circle" alt="{{ product.name }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ product.name }}</h2>
                                <p class="card-text">{{ product.price / 100 }}€</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}